@page
@model PoketraVy_backoffice.Pages.Budgets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Budget</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Budget.Remarque)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Budget.Remarque)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Budget.Montant)
        </dt>
        <dd class="col-sm-9">
            @Model.Budget.Montant.ToString("C")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Budget.Daty)
        </dt>
        <dd class="col-sm-9">
            Date
        </dd>
        <dt class="col-sm-3">
            Date de cloture previsionnel
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Budget.DatyFinPrevisionnel)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Budget.Etat)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Budget.Etat)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurBudgets[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurBudgets[0].Utilisateur.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurBudgets[0].Remarque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurBudgets[0].Montant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UtilisateurBudgets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilisateur.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarque)
            </td>
            <td>
                @item.Montant.ToString("C")
            </td>
            <td>
                <a asp-page="./../UtilisateurBudgets/Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./../UtilisateurBudgets/Details" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>


<div>
    <a asp-page="./Edit" asp-route-id="@Model.Budget.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
