@page
@model PoketraVy_backoffice.Pages.Budgets.IndexModel

@{
    ViewData["Title"] = "Index";
}

@if (!User.Identity.IsAuthenticated)
{
    <script>
        window.location.href = '/Index';
    </script>
}
<h1>Budgets</h1>

<p>
    <a asp-page="Create"><i class="bi bi-plus-circle-dotted"></i> Creer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].Remarque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].Montant)
            </th>
            <th>
                Date
            </th>
            <th>
                Date de cloture previsionnel
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget[0].Etat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Budget) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Remarque)
            </td>
            <td>
                @item.Montant.ToString("C")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Daty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatyFinPrevisionnel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pen"></i> Modif</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-credit-card-2-front"></i> Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash"></i> Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
