@model PoketraVy_frontoffice.Models.UserDepensesViewModel

@{
    ViewData["Title"] = "User Depenses";
}

<h2>User Depenses</h2>

<div class="row" style="justify-content: center;">
    <div class="col-md-4">
        @if (Model.UtilisateurBudgets != null && Model.UtilisateurBudgets.Any())
        {
        <div class="card mb-3">
            <div class="card-header">
                Montant de départ
            </div>
            <div class="card-body">
                @{
                double? totalMontant = 0.0;
                foreach (var budget in Model.UtilisateurBudgets)
                {
                totalMontant += @budget.Montant;
                }
                }
                <h5><b>@totalMontant</b></h5>
            </div>
        </div>
        }
        else
        {
        <p>No budgets found.</p>
        }
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                Dépenses
            </div>
            <div class="card-body">
                <h4><b>@Model.depenses</b></h4>
            </div>
        </div>
    </div>

    <div>
        <li class="nav-item">
            <form id="logoutForm" asp-controller="Mouvement" asp-action="Create" method="post" class="form-inline">
                <button type="submit" class="btn btn-link nav-link">Ajouter une dépense</button>
            </form>
        </li>
    </div>
</div>

<div style="justify-content: center;">
    <canvas id="pieChart" width="400" height="400"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('pieChart').getContext('2d');

        var data = {
            labels: [],
            datasets: [{
                data: [],
                backgroundColor: []
            }]
        };

        @foreach(var mouvement in Model.Mouvements)
    {
        <text>
            data.labels.push('@mouvement.Categorie');
            data.datasets[0].data.push('@mouvement.mouvement.montant');
            data.datasets[0].backgroundColor.push(generateRandomColor());
    </text>
    }



    var pieChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: {
            responsive: false,
            maintainAspectRatio: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.label + ': ' + tooltipItem.raw;
                        }
                    }
                }
            }
        }
    });
    });

    function generateRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    document.getElementById("modifyButton").onclick = function () {
        window.location.href = '@Url.Action("Edit", "Account")';
    };
</script>